* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.4);
}

/* 盒子 ,用了border-box*/
.hoverBox {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 468px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 12px;
    font-family: 'Arial Normal', 'Arial', 'sans-serif';
    color: #333;
    box-sizing: border-box;
    font-size: 13px;
}

/* 标题 */
.hoverBox .title {
    width: 100%;
    color: #02A7F0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    cursor: default;
}

/* 切换选项 */
.hoverBox .mode_selection {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 18px;
}

/* 选项 */
.hoverBox .mode_selection .mode {
    display: block;
    position: absolute;
    text-align: center;
    top: 24px;
    width: 85px;
    cursor: pointer;
}

.hoverBox .mode_selection #hoverBox_request {
    left: 53.33px;
}

.hoverBox .mode_selection #hoverBox_answer {
    right: 53.33px;
}

/* 当前选中 */
.hoverBox .mode_selection .active {
    font-weight: 700;
}

.hoverBox .mode_selection .activeLine {
    position: absolute;
    bottom: 0;
    transition: all ease-in 0.1s;
    display: block;
    width: 85px;
    height: 5px;
    border-radius: 8px;
    background-color: rgba(2, 167, 240, 1);
}

.hoverBox .mode_selection .toLeft {
    left: 53.3px;
}

.hoverBox .mode_selection .toRight {
    left: 191px;
}


/* 内容区,设置了border-box */


/*滚动区 滚动条 */
.hoverBox .itemList_box {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-color: #797979;
    scrollbar-width: thin;
}

.hoverBox .itemList_box::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.hoverBox .itemList_box::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

.hoverBox .itemList_box::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

/* 内容区item */
.hoverBox .itemList .item {
    margin-top: 5px;
    border-bottom: 1px solid #999;
}

.hoverBox .itemList .item:hover {
    border-bottom-color: #02A7F0;
    background-color: #f6f6f6;
}

.hoverBox .contentBox_request .itemList .item a {
    position: relative;
    display: block;
    width: 100%;
    height: 68px;
    text-decoration: none;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
    color: #333;
}

.hoverBox .contentBox_collection .itemList .item a {
    position: relative;
    display: block;
    width: 100%;
    height: 68px;
    text-decoration: none;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
    color: #333;
}

.hoverBox .item .problem_title {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    line-height: 35px;
    font-weight: 700;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hoverBox .item .problem_remark_answer {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 160px;
    line-height: 25px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hoverBox .item .problem_lable_box {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    font-size: 14px;
    width: 80px;
}

.hoverBox .item .problem_lable_box .lable {
    display: inline-block;
    position: relative;
    text-indent: 3px;
    width: 72px;
    line-height: 20px;
    background-color: #999;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hoverBox .item .problem_lable_box .lable::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: inline-block;
    border: 10px solid #fff;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;

}

.hoverBox .item .time_box {
    position: absolute;
    width: 72px;
    right: 5px;
    text-indent: 1em;
    text-align: left;
    bottom: 5px;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 脚部搜索 */
/* .foot{
    border:1px solid #999;
    margin-top:20px;
}
.foot .search_btn{
    width:60px;
    color:#fff;
   display: none;
    line-height: 28px;
    background-color: #02A7F0;
    border-radius: 4px;
}
.foot .search_btn svg{
    position: relative;
    top:4px;
    left:17px;
} */


/* 提问悬框 */
.hoverBox .contentBox_request {
    margin: 10px auto 0;
    width: 92%;
    height: 300px;
    padding: 10px 0 5px 10px;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-radius: 12px;

}

/* 我的收藏悬框 */
.hoverBox .contentBox_collection {
    margin: 15px auto 0;
    width: 92%;
    height: 365px;
    padding: 10px 0 5px 10px;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-radius: 12px;
}

/* 我的关注悬框 */
.hoverBox .contentBox_subscribe {
    margin: 10px auto 0;
    width: 92%;
    height: 300px;
    padding: 10px 0 5px 10px;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-radius: 12px;
}

.hoverBox .mode_selection #hoverBox_interest {
    left: 53.33px;
    font-size: 16px;
}

.hoverBox .mode_selection #hoverBox_fans {
    right: 53.33px;
    font-size: 16px;
}


/* 内容区item */
.hoverBox .contentBox_subscribe .itemList .item {
    margin-top: 5px;
    position: relative;
    display: block;
    width: 100%;
    height: 68px;
    text-decoration: none;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
    color: #333;
    cursor: default;

}


/* 头像 */
.hoverBox .contentBox_subscribe .item .img_link {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    height: 58px;
    width: 46px;
    text-decoration: none;
}

.hoverBox .contentBox_subscribe .item .img_link:hover img {
    top: 0px;
}

.hoverBox .contentBox_subscribe .item .img_link img {
    position: absolute;
    border-radius: 4px;
    top: 10px;
    width: 100%;
    height: 46px;
    transition: all ease 0.2s;
}

/* 用户名 身份 性别 */
.hoverBox .contentBox_subscribe .item .userName {
    position: absolute;
    display: block;
    top: 5px;
    left: 60px;
    width: 135px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.hoverBox .contentBox_subscribe .item .status {
    position: absolute;
    display: block;
    top: 5px;
    left: 210px;
    width: 40px;
    font-size: 13px;
    color: #999;
    line-height: 28px;

}

.hoverBox .contentBox_subscribe .item .sex {
    position: absolute;
    display: block;
    top: 5px;
    right: 10px;
    width: 23px;
    height: 23px;
    overflow: hidden;
    line-height: 23px;
}

.hoverBox .contentBox_subscribe .item .sex svg {
    display: none;
}

.hoverBox .contentBox_subscribe .item .sex .on {
    display: block;
}

/* 学校信息 */
.hoverBox .contentBox_subscribe .item .school_info {
    position: absolute;
    display: block;
    bottom: 5px;
    left: 60px;
    width: 135px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 关注 */
.hoverBox .contentBox_subscribe .item .subscribe {
    position: absolute;
    display: block;
    bottom: 5px;
    left: 210px;
    width: 23px;
    height: 23px;;
    overflow: hidden;
    cursor: pointer;
    line-height: 23px;


}

/* 私信 */
.hoverBox .contentBox_subscribe .item .sendText {
    position: absolute;
    display: block;
    bottom: 5px;
    right: 10px;
    width: 23px;
    height: 23px;
    overflow: hidden;
    line-height: 23px;
    cursor: pointer;
}

/* .hoverBox .item .subscribe:hover .do_subscribe path{
    fill:#d6204b;
} */
.hoverBox .contentBox_subscribe .item .sendText:hover path {
    fill: #17abe3;
}


/* 私信 */
.hoverBox .contentBox_collection .item .sendText {
    position: absolute;
    display: block;
    bottom: 5px;
    right: 10px;
    width: 23px;
    height: 23px;
    overflow: hidden;
    line-height: 23px;
    cursor: pointer;
}

.hoverBox .contentBox_collection .item .sendText:hover path {
    fill: #17abe3;
}


/* 消息通知 */

.hoverBox .contentBox_information {
    margin: 15px auto 0;
    width: 92%;
    height: 320px;
    padding: 10px 0 5px 10px;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-radius: 12px;
}

.hoverBox .contentBox_information .item {
    margin-top: 5px;
    position: relative;
    display: block;
    width: 100%;
    height: 58px;
    text-decoration: none;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

/* 头像 */
.hoverBox .contentBox_information .item img {
    position: relative;
    top: 5px;
    width: 46px;
    height: 46px;
    border-radius: 4px;
}

/* 小点点 */
.hoverBox .contentBox_information .item .info_point {
    position: absolute;
    top: 5px;
    right: 10px;
}

/*用户名*/
.hoverBox .contentBox_information .item .itemTitle {
    position: absolute;
    display: block;
    top: 5px;
    left: 60px;
    width: 135px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

/* 消息内容 */
.hoverBox .contentBox_information .item .item_info {
    position: absolute;
    display: block;
    bottom: 5px;
    left: 60px;
    width: 185px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 时间 */
.hoverBox .contentBox_information .item .time {
    position: absolute;
    display: block;
    width: 55px;
    right: 10px;
    text-indent: 1em;
    text-align: right;
    bottom: 5px;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 一键已读 */
.hoverBox .foot {
    position: relative;
    margin: 5px auto 0;
    width: 92%;
    height: 23px;

}

.hoverBox .foot .clearAllPoint {
    position: absolute;
    right: 10px;
    cursor: pointer;
}