* {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 14px;
}

a {
    text-decoration: none;
}

h2,
b,
i,
em {
    font-weight: normal;
    font-style: normal;
}

input,
button {
    outline: none;
}

.modal_content button {
    position: absolute;
    bottom: -55px;
    right: 0px;
    width: 124px;
    height: 34px;
    border: 0;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #02A7F0;
    line-height: 34px;
    cursor: pointer;
}

.modal_content button:hover {
    background-color: #2db4e5;
}

@font-face {
    font-family: 'iconfont';
    src: url('http://iconfont.eot');
    src: url('http://iconfont.eot?#iefix') format('embedded-opentype'), url('http://iconfont.woff') format('woff'), url('http://iconfont.ttf') format('truetype'), url('http://iconfont.svg#iconfont') format('svg');
}


/* #region 模态框关闭按钮*/

.modal_head {
    height: 82px;
    width: 100%;
    position: relative;
}

.modal_head button {
    /* 相对于整个模态框 的定位  */
    position: relative;
    top: 8px;
    right: 14px;
    /* right: 342px; */
    height: 30px;
    width: 30px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* #endregion */

.modal_content {
    /* 为 logOn 的定位 */
    position: relative;
    width: 380px;
    height: 330px;
    padding-left: 40px;
    padding-right: 40px;
}


/* #region 登录*/

.modal_content .logOn {
    /* 父级定位在 modal_content */
    position: absolute;
    left: 86px;
    height: 320px;
    margin: 0 auto;
}


/* #region 登录--学生/教师 文字part */

.modal_content .logOn .student,
.modal_content .logOn .teacher {
    float: left;
}

.modal_content .logOn h2 {
    /* 为下面的#02A7F0 条 设置的定位 */
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 80px;
    height: 35px;
    margin: 20px;
    box-sizing: content-box;
    cursor: pointer;
    transition: all 0.2s;
}

.modal_content .logOn .student {
    margin-right: 28px;
    margin-left: 12px;
}


/* #region 登录--学生/教师  表单part */

.modal_content .logOn form {
    /* 父级定位 */
    position: absolute;
    top: 80px;
    left: 0;
}

.modal_content .logOn .logOnTeacher form,
.modal_content .logOn .logOnStudent form {
    /* 文字下方的表单  在没有logOnDisplay时 不显示 */
    display: none;
    width: 280px;
}


/* #region 登录--学生/教师 input  */

.modal_content > .logOn form .confirm {
    position: relative;
    margin-top: 20px;
}

.modal_content .logOn form .input {
    background-color: transparent;
    margin: 0 auto;
    /* 使表单一行显示一个 */
    font-size: 18px;
    display: block;
    border: none;
    width: 265px;
    height: 38px;
    border-bottom: 1px solid #000;
    padding-left: 3px;
    margin-left: 10px;
}

.modal_content .logOn form .tip {
    font-size: 18px;
    color: #555;
    position: absolute;
    top: 6px;
    left: 10px;
}


/* #endregion */


/* #region 登录--学生/教师  logOnDisplay控制 表单/b/h2 的显示  */

.modal_content .logOn .logOnDisplay h2 {
    /* h2 在非logOnDisplay 时 字体不粗(整体定义的h2)  */
    font-weight: 700;
}

.modal_content .logOn .logOnDisplay b {
    /* b 在非logOnDisplay时  无 */
    /* 父级定位在 h2 */
    position: absolute;
    top: 35px;
    left: 0px;
    display: block;
    width: 78px;
    height: 3px;
    border-radius: 100px/20px;
    background-color: #02A7F0;
    transition: all 0.5s;
}

.modal_content .logOn .logOnDisplay .logOnStudent form,
.modal_content .logOn .logOnDisplay .logOnTeacher form {
    /* h2下方的表单元素  在非logOnDisplay 时直接 display none */
    display: block;
}


/* #endregion */


/* #endregion */


/* #endregion */


/* #region 立即登录按钮 */

.modal_content .btnLogon,
.modal_content .btnRegister {
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 116px;
    height: 39px;
    border-radius: 15px;
    background-color: #02A7F0;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.modal_content .logOn .btnLogon {
    left: 162px;
}

.modal_content button.btnLogon {
    left: 0;
}

.modal_content b {
    position: absolute;
    right: -5px;
    bottom: 98px;
    color: #111;
    font-size: 11px;
    line-height: 18px;
    display: block;
    cursor: pointer;
}

.modal_content b:hover {
    color: #02A7F0;
}


/* #endregion */


/* #endregion */


/* #region 忘记密码 */

.modal_content .forgetPas {
    display: none;
    position: absolute;
}

.modal_content .forgetPas > div {
    /* 忘记密码页面 的三个框 */
    margin: 32px 0;
}

.modal_content .forgetPas .teacherOrStudent label {
    /* 老师/学生 单选框的label */
    margin: 0 17px 0 9px;
    font-size: 16px;
}

.modal_content .forgetPas .teacherOrStudent label input {
    margin-left: 1px;
}

.modal_content .forgetPas .writeEmail input,
.modal_content .forgetPas .writeEmail em,
.modal_content .forgetPas .verificationCode input {
    /* 页面里所有的框 */
    width: 136px;
    height: 22px;
    border: 1px #797979 solid;
    border-radius: 8px;
    padding: 2px;
    padding-left: 6px;
    font-size: 13px;
    color: #000000;
}

.modal_content .forgetPas .writeEmail .inEmail {
    margin-left: 8px;
}

.modal_content .forgetPas .writeEmail .emailSuffix {
    /* 邮箱 后缀名 */
    display: inline-block;
    vertical-align: top;
    width: 90px;
    border-color: #333333;
    font-size: 13px;
    line-height: 22px;
    color: #000;
    text-align: center;
    padding-left: 0;
}

.modal_content .forgetPas .verificationCode input {
    width: 141px;
    margin-left: 46px;
}

.modal_content .forgetPas .verificationCode .sendVerificationCode {
    /* 发送验证码按钮 */
    width: 95px;
    height: 30px;
    bottom: 30px;
    right: 0px;
    font-size: 13px;
    line-height: 30px;
}

.modal_content .forgetPas span,
.modal_content .resetPas span {
    font-weight: 700;
    font-size: 19px;
    color: #333333;
}


/* #endregion */


/* #region 重置密码页面 */

.modal_content .resetPas {
    /* 整体的位置 */
    position: absolute;
    display: none;
    top: 30px;
    left: 93px;
}

.modal_content .resetPas > div {
    margin: 35px 0;
}

.modal_content .resetPas > div span {
    vertical-align: bottom;
}

.modal_content .resetPas > div input {
    /* 两个密码框 */
    width: 171px;
    height: 21px;
    border-radius: 8px;
    border: #797979 solid 1px;
    font-size: 12px;
    line-height: 21px;
    padding: 2px;
    padding-left: 6px;
    vertical-align: bottom;
    margin-left: 8px;
}

.modal_content .resetPas .resetPasConfirm {
    bottom: -44px;
    left: 73px;
}


/* #endregion */