* {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 14px;
}

a {
    text-decoration: none;
}

h2,
b,
i,
em {
    font-weight: normal;
    font-style: normal;
}

input,
button {
    outline: none;
}

.modal_content button {
    position: absolute;
    bottom: -15px;
    right: 0px;
    width: 249px;
    height: 63px;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-size: 33px;
    text-align: center;
    background-color: #02A7F0;
    line-height: 34px;
    cursor: pointer;
}

.modal_content button:hover {
    background-color: #2db4e5;
}

.icondibudaohanglan- {
    font-size: 106px;
    color: #02A7F0;
    font-style: normal;
    position: absolute;
    /* top: 22px; */
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 0);
}

.modal_bg {
    display: none;
    background-color: #00000066;
    /* background-color: transparent; */
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.modal {
    background-color: #F2F2F2;
    border-radius: 24px;
    width: 900px;
    height: 810px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transition: all ease 0.5s;
    transform: translate(-50%, -50%) scale(0.7);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.fadeout {
    float: right;
}

.active_line {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;
    height: 4px;
    background-color: #02A7F0;
    box-shadow: 0 0 3px #02A7F0;
    width: 0px;
    border-radius: 20px;
    transition: width, ease-in 0.3s;
}

.value:hover .active_line {
    width: 530px;
}


/* #region 模态框关闭按钮*/

.modal_head {
    height: 155px;
    width: 100%;
    position: relative;
}

.modal_head button {
    /* 相对于整个模态框 的定位  */
    position: relative;
    top: 10px;
    right: 36px;
    /* right: 342px; */
    height: 50px;
    width: 40px;
    font-size: 63px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal_head b {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 200px;
    letter-spacing: 5px;
}


/* #endregion */

.modal_content {
    /* 为 logOn 的定位 */
    position: relative;
    width: 533px;
    height: 685px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    margin: 20px auto;
}


/* #region 登录*/

.modal_content .logOn {
    /* 父级定位在 modal_content */
    height: 100%;
    width: 100%;
}


/* #region 登录--学生/教师 文字part */

.modal_content .logOn .student,
.modal_content .logOn .teacher {
    float: left;
}

.modal_content .logOn h2 {
    /* 为下面的#02A7F0 条 设置的定位 */
    position: relative;
    font-size: 45px;
    text-align: center;
    width: 188px;
    height: 77px;
    margin: 20px;
    box-sizing: content-box;
    cursor: pointer;
    transition: all 0.2s;
}

.modal_content .logOn .student {
    margin-right: 28px;
    margin-left: 12px;
}


/* #region 登录--学生/教师  表单part */

.modal_content .logOn form {
    /* 父级定位 */
    position: absolute;
    top: 150px;
    left: 0;
}

.modal_content .logOn .logOnTeacher form,
.modal_content .logOn .logOnStudent form {
    /* 文字下方的表单  在没有logOnDisplay时 不显示 */
    display: none;
    width: 536px;
}


/* #region 登录--学生/教师 input  */

.modal_content>.logOn form .confirm {
    position: relative;
    margin-top: 35px;
}

.modal_content .logOn form .input {
    background-color: transparent;
    margin: 0 auto;
    /* 使表单一行显示一个 */
    font-size: 30px;
    display: block;
    border: none;
    width: 530px;
    height: 75px;
    border-bottom: 3px solid #000;
    /* padding-left: 3px; */
    /* margin-left: 10px; */
}

.modal_content .logOn form .tip {
    font-size: 35px;
    color: #555;
    position: absolute;
    top: 11px;
    left: 9px;
}


/* #endregion */


/* #region 登录--学生/教师  logOnDisplay控制 表单/b/h2 的显示  */

.modal_content .logOn .logOnDisplay h2 {
    /* h2 在非logOnDisplay 时 字体不粗(整体定义的h2)  */
    font-weight: 700;
}

.modal_content .logOn .logOnDisplay b {
    /* b 在非logOnDisplay时  无 */
    /* 父级定位在 h2 */
    position: absolute;
    top: 70px;
    left: 15px;
    display: block;
    width: 154px;
    height: 7px;
    border-radius: 100px/20px;
    background-color: #02A7F0;
    transition: all 0.5s;
}

.modal_content .logOn .logOnDisplay .logOnStudent form,
.modal_content .logOn .logOnDisplay .logOnTeacher form {
    /* h2下方的表单元素  在非logOnDisplay 时直接 display none */
    display: block;
}


/* #endregion */


/* #endregion */


/* #endregion */


/* #region 立即登录按钮 */

.modal_content .btnLogon,
.modal_content .btnRegister {
    position: absolute;
    bottom: 129px;
    left: 4px;
    width: 230px;
    height: 74px;
    border-radius: 8px;
    background-color: #02A7F0;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 29px;
}

.modal_content .logOn .btnLogon {
    left: 305px;
}

.modal_content button.btnLogon {
    left: 0;
}

.modal_content b {
    position: absolute;
    right: -18px;
    bottom: 272px;
    color: #111;
    font-size: 22px;
    line-height: 18px;
    display: block;
    cursor: pointer;
}

.modal_content b:hover {
    color: #02A7F0;
}


/* #endregion */


/* #endregion */


/* #region 忘记密码 */

.modal_content .forgetPas {
    display: none;
    position: absolute;
    width: 755px;
    height: 500px;
    left: -116px;
    top: 0;
}

.modal_content .forgetPas>div {
    /* 忘记密码页面 的三个框 */
    margin: 60px 0;
}

.modal_content .forgetPas .teacherOrStudent label {
    /* 老师/学生 单选框的label */
    margin: 0 39px 0 31px;
    font-size: 32px;
    cursor: pointer;
}

.modal_content .forgetPas .teacherOrStudent label input {
    margin-left: 1px;
}

.modal_content .forgetPas .writeEmail input,
.modal_content .forgetPas .writeEmail em,
.modal_content .forgetPas .verificationCode input {
    /* 页面里所有的框 */
    width: 270px;
    height: 50px;
    border: 3px #797979 solid;
    border-radius: 8px;
    padding: 2px;
    padding-left: 14px;
    font-size: 25px;
    color: #000000;
}

.modal_content .forgetPas .writeEmail .inEmail {
    margin-left: 16px;
}

.modal_content .forgetPas .writeEmail i {
    font-size: 32px;
}

.modal_content .forgetPas .writeEmail .emailSuffix {
    /* 邮箱 后缀名 */
    display: inline-block;
    vertical-align: top;
    width: 180px;
    border-color: #333333;
    font-size: 25px;
    line-height: 49px;
    color: #000;
    text-align: center;
    padding-left: 0;
}

.modal_content .forgetPas .verificationCode input {
    width: 285px;
    margin-left: 95px;
}

.modal_content .forgetPas .verificationCode .sendVerificationCode {
    /* 发送验证码按钮 */
    width: 190px;
    height: 62px;
    bottom: 145px;
    right: 0px;
    font-size: 25px;
    line-height: 33px;
    border-radius: 8px;
}

.modal_content .forgetPas span,
.modal_content .resetPas span {
    font-weight: 700;
    font-size: 38px;
    color: #333333;
}

.modal_content .forgetPas .forgetPasLast,
.modal_content .forgetPas .forgetPasNext {
    width: 249px;
    height: 63px;
}

.modal_content .forgetPas .forgetPasLast {
    right: 500px;
}


/* #endregion */


/* #region 重置密码页面 */

.modal_content .resetPas {
    /* 整体的位置 */
    position: absolute;
    display: none;
    top: 30px;
    left: -13px;
    width: 613px;
    height: 377px;
}

.modal_content .resetPas>div {
    margin: 85px 0;
}

.modal_content .resetPas>div span {
    vertical-align: bottom;
}

.modal_content .resetPas>div input {
    /* 两个密码框 */
    width: 355px;
    height: 50px;
    border-radius: 8px;
    border: #797979 solid 1px;
    font-size: 25px;
    line-height: 45px;
    padding: 2px;
    padding-left: 14px;
    vertical-align: bottom;
    margin-left: 8px;
}

.modal_content .resetPas .resetPasConfirm {
    bottom: -44px;
    left: 150px;
}


/* #endregion */