* {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

body {
    background-color: #fbfbfb;
}


/* #region 寻物详情 */

[class^="YitemDetails"] {
    margin-top: 140px;
   
}
[class^="YitemDetails"]  .w{
    width:1790px;
}


/* h2.寻物详情  h2.发布信息  h2.图片 */

[class^="YitemDetails"] h2,
[class^="YreleaseInformation"] h2,
[class^="YitemPicture"] h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 2em;
    border-bottom: 5px solid #797979;
}


/* #region 寻物详情   */


/* 物品 信息 */

[class^="YitemDetails"] .YdetailsOfItem {
    width: 60%;
    float: left;
    box-sizing: border-box;
    padding: 50px 100px;
}

[class^="YitemDetails"] p {
    width: 100%;
    /* height: 2.5em; */
    height: 80px;
    line-height: 80px;
    /* font-size: 30px; */
}

[class^="YitemDetails"] p em {
    font-size: 30px;
    /* display: block; */
    float: left;
    width: 6em;
    /* width: 60%; */
    /* background-color: blue; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[class^="YitemDetails"] .YdetailsOfItem p em:nth-of-type(2) {
    width: 70%;
}


/* 发布者 信息 */

[class^="YitemDetails"] .YdetailsOfUser {
    box-sizing: border-box;
    padding: 50px 0px;
    width: 40%;
    float: right;
    /* background-color: aquamarine; */
}

[class^="YitemDetails"] .YdetailsOfUser img {
    width: 240px;
    height: 240px;
    border-radius: 240px;
    float: left;
    margin-right: 40px;
}

[class^="YitemDetails"] .YdetailsOfUser p {
    width: 435px;
    float: left;
}

[class^="YitemDetails"] .YdetailsOfUser em:nth-of-type(1) {
    /* width: em; */
    width: 4.2em;
}


/* #endregion */


/* #region 发布信息 */

[class^="YreleaseInformation"] {
    /* padding: 50px 100px; */
    width: 100%;
    height: 300px;
}

[class^="YreleaseInformation"] p {
    width: 35%;
    float: left;
    /* font-size: 30px; */
    padding: 40px 40px 40px 100px;
    height: 70px;
    line-height: 70px;
    margin-right: 50px;
    /* text-align: right; */
    /* box-sizing: border-box; */
    /* background-color: antiquewhite; */
}

[class^="YreleaseInformation"] p em {
    font-size: 30px;
}


/* #endregion */


/* #region 图片 */

[class^="YitemPicture"] {
    width: 100%;
    height: 500px;
    /* padding: 50px 100px; */
    /* background-color: antiquewhite; */
}

[class^="YitemPicture"] img {
    width: 600px;
    height: 600px;
    margin: 100px 140px;
    /* margin-right: 100px; */
    /* margin-top: 100px; */
}


/* #endregion */

/* 70% */
@media(max-width:1960px){
    
    [class^="YitemDetails"] .w{
        width:1618px;
    }
    [class^="YitemPicture"] .w{
        width:1618px;
    }

}
/* 80% */
@media(max-width:1789px){
    [class^="YitemDetails"] .w{
        width:1470px;
    }
    [class^="YitemPicture"] .w{
        width:1470px;
    }
}
/* 90% */
@media(max-width:1549px){
    [class^="YitemDetails"] .w{
        width:1290px;
    }
    [class^="YitemPicture"] .w{
        width:1290px;
    }
    
}
/* 100% */
@media(max-width:1280px){
    [class^="YitemDetails"] .w{
        width:1158px;
    }
    [class^="YitemPicture"] .w{
        width:1158px;
    }
    [class^="YitemDetails"] h2, [class^="YreleaseInformation"] h2, [class^="YitemPicture"] h2{
        font-size:25px;
        border-width: 2px;
    }
    [class^="YitemDetails"] .YdetailsOfItem{
        padding:25px 37px;
    }
    [class^="YitemDetails"] p em{
        font-size:18px;
    }
    [class^="YitemDetails"] .YdetailsOfUser img{
        width:140px;
        height: 140px;
    }
    [class^="YitemDetails"] p{
        line-height: 100%;
        height: 60px;
    }
    [class^="YitemDetails"] .YdetailsOfUser{
        padding:25px 0;
    }
    [class^="YitemPicture"] img{
        width:400px;
        height: 400px;
    }
}



/* #endregion */