*{
    margin:0;
    padding:0;
}
header{
    background-color: #028e9b;
    width:100%;
    height: 110px;
    border:1px solid #000;
}
header .head{
    border:1px solid #000;
    height: 100%;
    width:1790px;
    margin:0 auto;
}

html{
    scrollbar-width: thin;
    scrollbar-color:  rgba(0,0,0,0.2) transparent;
}

body::-webkit-scrollbar{
    width:10px;
    height: 10px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}
body::-webkit-scrollbar-track{
    border-radius: 0;
    background-color:#fff;
}
body{
    background-color: #f6f6f6;
}

.body{
    min-width: 1790px;
    position: relative;
    top:150px;
    /* border:1px solid #000; */
    width:1790px;
    margin:0 auto;
   
}

.select_box{
    /* overflow: hidden; */
    /* position: fixed;
    top:150px; */
    position: relative;
    padding:15px;
    float: left;
    /* border: 1px solid #000; */
    width:302px;
    height: 416px;
    /* background-color: #; */
    /* color:#eee; */
    background-color: #333;
    box-sizing:border-box;
    border-radius: 14px;
    /* border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px; */
}




.select_box .title{
    font-size:20px;
    font-weight: 700;
    color:#fff;
}
.select_box .column1{
    margin-top:20px;
    float: left;
    height:85%;
    width:100px;
    font-size:17px;
    font-weight: 600;
    color:#999;
    border-right:1px solid #777;
}
.select_box .column1 li svg{
    position:absolute;
    top:50%;
    left:4px;
    height: 20px;
    transform: translate(0,-50%);
}
/* .select_box .column1 .icon{
    display: none;
} */
.select_box .column1 li{
    position: relative;
    line-height: 35px;
    text-indent:40px; 
}
.select_box .column1 li .text{
    color:#999;
    font-size:18px;
}
.select_box .column1 li:nth-child(1){
    line-height: 30px;
}
.select_box .column1 li:hover .text{
    color:#fff;
}
.select_box .column1 li:hover svg path{
    fill:#fff;
}

.select_box .column2 li:hover{
    color:#fff;
}

.select_box .column2{
    /* display: none; */
    margin-top:20px;
    float: left;
    border-right:1px solid #555;
    width:90px;
    min-height: 68%;
    max-height: 80%;
}

.select_box .column2 li{
    text-align: center;
    line-height:35px;
    font-size:16px;
    color:#999;
}

.select_box ul li{
    padding:5px;
    cursor: pointer;
    list-style:none;
}
.select_box .column3{
    /* display: none; */
    position: relative;
    margin-top:20px;
    float: left;
    height:100%;
    width:68px;
    color:#999;
}
.select_box .column3 svg{
    height: 20px;
}
.select_box .column3 .title{
    width:100%;
    display: block;
    font-size:18px;
    font-weight: 600;
    color:#fff;
    text-align: center;
}
.select_box .column3 .timeBox{
    /* border:1px solid #666; */
    height:250px;
    width:68px;
    position: absolute;
    top:15px;
    left:50%;
    transform: translate(-50%,0);
}
.select_box .column3 .calendar_entrance{
    position: relative;
    height: 30px;
    /* border:1px solid #000; */
    top:20px;
    display: flex;
    justify-content: center;
}
.select_box .column3 .calendar_entrance:hover svg path{
    fill:#fff;
}
.select_box .selected{
    color:#fff !important;
}
.select_box .selected .icon path{
    fill:#fff;
}



/* .select_box .column3 .calendar_entrance:hover .calendar{
    display: block;
} */

/* 日期选择后展示 */
.select_box .column3 .time_display{
    position: absolute;
    width:68px;
    top:78px;
    /* border:1px solid #000; */
    height:149px;
    display: flex;
    flex-flow: column;
    text-align: center;
    color:#999;
    font-size:18px;
}
.select_box .column3 .time_display .text{
    color:#999;
    font-size:16px;
}
.select_box .column3 .time_display .num{
    font-size:16px;
    font-weight: 700;
    color:#ccc;
    display: block;
    height:30px;
}

/* 日期悬浮框 */

.calendar{
    display: none;
    position: absolute;
    top:-50px;
    right:-620px;
    z-index:100;
    width:630px;
    color:#fff;
    border-radius: 14px;
    background-color: rgba(30,117,179);
    box-shadow: 10px 10px 35px 1px rgba(0, 0, 0, 0.5);
}

.calendar::before{
    content: "";
    display: block;
    height:50%;
    width:30px;
    background-color: transparent;
    position: absolute;
    /* background-color: #000; */
    top:0;
    left:-25px;
}
.calendar tr{
    width: 100%;
}

.calendar td{
    font-size:20px;
    color:#fff;
    width:90px;
    height: 40px;
    cursor: default;
    text-align: center;
}
.calendar th{
    color:#fff;
    font-size:26px;
    line-height: 45px;
    position: relative;
}
.calendar th span{
    color:#fff;
    font-size:28px;
}
.calendar .day td{
    font-size:22px;
    font-weight: 550;
    cursor: pointer;
}
/* .calendar .day .fill{
    background-color: rgba(255, 255, 255, 0.657);
} */
.calendar .day .today{
    background-color: rgb(80, 149, 206);
}
.calendar .day .fill:hover{
    background-color: rgb(105,175,229);
}
.calendar .switch_btn_calendar{
    position: absolute;
    width: 100px;
    display: flex;
    right:30px;
    top:50%;
    transform: translate(0,-50%);
    justify-content: space-between;
    align-items: center;
}
.calendar .switch_btn_calendar svg{
    cursor: pointer;
}


/* 地点选择 */
.select_box .column3 .areaBox{
    position: absolute;
    width:68px;
    height: 130px;
    bottom:0;
    left:50%;
    transform: translate(-50%,0);
    
}
.select_box .column3 .areaBox .area{
    width:70px;
    height:40px;
    /* border:1px solid #666; */
    position: absolute;
    cursor: pointer;
    top:35px;
    display: flex;
    justify-content: center;
    left:50%;
    transform:translate(-50%,0);
}
.select_box .column3 .areaBox .area:hover .icon path{
    fill:#fff;
}
.select_box .column3 .areaBox .areaText{
    position: absolute;
    top:70px;
    left:50%;
    transform: translate(-50%,0);
    writing-mode: vertical-lr;
    /* width:40px; */
    color:#ccc;
    font-size:16px;
    font-weight: 600;
    height: 112px;
    letter-spacing: 4px;
}



.select_box .column3 .areaPane{
    display: none;
    border-radius: 14px;
    position: absolute;
    bottom:-200px;
    left:70px;
    width:680px;
    height: 500px;
    padding:20px;
    background-color: #fff;
    overflow:auto;
    box-shadow: 10px 10px 35px 1px rgba(0, 0, 0, 0.5);
    scrollbar-width:thin;
    scrollbar-color: #ccc ;
}


.select_box .column3 .areaPane .row:nth-child(1){
    margin-top: 0px;
}
.select_box .column3 .areaPane .row{
    margin-top:20px;
}
.select_box .column3 .areaPane .title_row{
    font-size:24px;
    color:#555;
    font-weight:600;
}


.select_box .column3 .areaBox .itemBox{
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
}
.select_box .column3 .areaBox .itemBox .item{
    display:inline-block;
    line-height: 30px;
    padding:3px 9px;
    background-color: #f3f3f3;
    margin:5px 10px;
    border-radius: 15px;
    font-size:20px;
    /* border:1px solid #000; */
}
.select_box .column3 .areaBox .itemBox .item:hover{
    background-color:#028e9b;
    color:#fff;
}


/* 变宽变窄按钮 */
.select_box .switch_btn{
    position: absolute;
    background-color:  rgba(30,117,179);
    top:60%;
    transform:translate(0,-50%);
    right:0px;
    width:25px;
    height:60px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; */
    z-index:0;
    cursor: pointer;
}
.select_box .switch_btn svg{
    position: absolute;
    top:50%;
    left:50%;
    height: 20px;
    transform:translate(-50%,-50%);
}


/* .select_box */

.platform{
    position: relative;
    z-index:0;
    float: right;
    width:1350px;
    box-sizing: border-box;
    /* padding:30px; */
}

/* 切换按钮 */
.selector{
    display:flex;
    width:100%;
    background-color: #f3904f;
    height: 350px;
    align-items: center;
    justify-content: space-around;
}
.selector .item{
    transition: box-shadow 0.2s ease;
    height: 310px;
    width:45%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.selector .item .name{
    
    color:#fff;
    font-size:28px;
    display: block;
    font-weight: 700;
    position: absolute;
    left:30px;
    bottom:20px;
}
.selector .item:hover .name{
    display: none;
}
.selector .item:hover .hoverPane{
    top:0;
}


.selector .item .hoverPane{
    position: absolute;
    transition: top 0.2s ease;
    top:310px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    width:100%;
    height: 100%;
}

.selector .item .hoverPane .name_inner{
    /* display: none; */
    
    color:#fff;
    font-size:30px;
    display: block;
    font-weight: 700;
    position: absolute;
    width:100%;
    text-align: center;
    top:30px;
}
.selector .item .hoverPane .tipBox{
    border:1px solid #fff;
    width:50%;
    color:#fff;
    height: 150px;
    text-align: center;
    line-height: 150px;
    position: absolute;
    top:100px;
    left:50%;
    transform: translate(-50%,0);
    font-size:24px;
    letter-spacing: 5px;
}




.selector .item:hover{
    box-shadow:10px 10px 30px 1px rgba(0,0,0,0.4) ;
}
.selector .findMaster{
    background-image: url(../img/lost_found_bg1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 0;
}
.selector .findGoods{
    background-image: url(../img/lost_found_bg2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 0;
}

/* 招领物品容器 */
.item_containner{
    position: relative;
    margin-top:30px;
    width:100%;
    height:800px ;
  
}
.item_containner .item{
    display: none;
    position: absolute;
    text-decoration: none;
    color:#333;
    display:block;
    cursor: pointer;
    overflow: hidden;
    /* height: 400px; */
    /* max-height: 360px; */
    transition: box-shadow 0.2s ease;
    width:280px;
    border:1px solid #ccc;
    border-radius: 14px;
}
.item_containner .item:hover{
    box-shadow:10px 10px 30px 1px rgba(0,0,0,0.4) ;
}
.item_containner .item:hover .imgBox img{
    transform:scale(1.1);
}

.item_containner .item .imgBox{
    width: 100%;
    max-height: 290px;
    overflow: hidden;
    justify-content: center;
    display: flex;
}
.item_containner .item .imgBox img{
    display: block;
    transition: transform 0.2s ease;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.item_containner .item .textBox{
    width:100%;
    box-sizing: border-box;
    padding:10px;
    margin-top:10px;
    color:#333;
}
.item_containner .item .textBox .item_title{
    font-size:24px;
    font-weight: 600;
    width:100%;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item_containner .item .textBox .label{
    display: block;
    font-size:20px;
    line-height: 28px;
}
.item_containner .item .textBox .detail{
    line-height: 30px;
    position: relative;
    display: flex;
    font-size:18px;
    font-weight: 500;
    justify-content: space-between;
}
.item_containner .item .textBox .area{
    max-width:57%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}