* {
    margin: 0;
    padding: 0;
}
html{
    scrollbar-width: thin;
    scrollbar-color:  rgba(0,0,0,0.2) transparent;
}

body::-webkit-scrollbar{
    width:10px;
    height: 10px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}
body::-webkit-scrollbar-track{
    border-radius: 0;
    background-color:#fff;
}

/* 字体icon */

h2,
b,
i,
em {
    font-weight: normal;
    font-style: normal;
}


/* @font-face {
    font-family: 'iconfont';
    src: url('http://iconfont.eot');
    src: url('http://iconfont.eot?#iefix') format('embedded-opentype'), url('http://iconfont.woff') format('woff'), url('http://iconfont.ttf') format('truetype'), url('http://iconfont.svg#iconfont') format('svg');
} */


/*icon  */


/* .iconfont {
    font-family: "iconfont" !important;
    font-size: 46px;
    color: #028e9b;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 30px;
    left: 207px;
    transition: all 0.5s;
} */

body {
    background-color: #f6f6f6;
}


/* 搜索栏 */


/* .head_search_outside {
    position: relative;
    width: 100%;
    height: 110px;
    background-color: #028e9b;
    border-bottom: 1px solid #999;
}

header.head_search_outside_fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 28px 50px rgba(25, 24, 40, .35);
}

.head_search {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1790px;
    height: 100%;
} */


/* 问题的描述和提问者的信息 */

.question_info_main {
    position: relative;
    margin: 150px auto 0;
    width: 1790px;
    background-color: #fff;
    padding: 50px 0;
    border-radius: 12px;
}

.question_info_main::after {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}


/* 回答区 */

.content_main {
    position: relative;
    margin: 50px auto 0;
    width: 1790px;
    height: 2000px;
}


/* 回答区 */

.content_main .answerArea {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    width: 1300px;
    /* height: 1500px; */
}


/* logo */

.head_search .logo {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
    width: 150px;
    height: 55px;
    border: 1px solid #666;
}


/* 一级导航 */

.head_search .nav {
    position: absolute;
    width: 390px;
    top: 50%;
    left: 270px;
    transform: translate(0, -50%);
    height: 40px;
    border: 1px solid #999;
}

.head_search .nav .item {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    font-size: 22px;
    transition: all ease 0.1s;
}

.head_search .nav .item:hover {
    color: #eee;
    font-weight: 700;
    transform: scale(1.1);
    transform-origin: -5px;
}

.head_search .nav .item:first-child {
    left: 5px;
}

.head_search .nav .item:nth-child(2) {
    left: 80px;
}

.head_search .nav .item:nth-child(3) {
    right: 130px;
}

.head_search .nav .item:last-child {
    right: 5px;
}


/* 搜索框 */

.head_search .searchBox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 500px;
    overflow: hidden;
    border-radius: 4px;
}

.head_search .searchBox .search_input {
    float: left;
    display: block;
    height: 50px;
    font-size: 23px;
    width: 390px;
    color: #999;
    background-color: transparent;
    padding: 3px 10px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #ccc;
    border-right: none;
}

.head_search .searchBox .search_btn {
    float: left;
    height: 50px;
    width: 110px;
    position: relative;
    color: #fff;
    text-indent: 1.5em;
    line-height: 50px;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    background-color: #0898d6;
    cursor: pointer;
}

.head_search .searchBox .search_btn svg {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}


/* 主用户头像 */

.head_search .user_info {
    position: absolute;
    right: 20px;
    top: 50%;
    height: 36px;
    width: 200px;
    transform: translate(0, -50%);
    border: 1px solid #666;
}


/* 问题信息和作者信息 */

.question_info_main .question_info_box {
    float: left;
    margin-left: 40px;
    width: 1000px;
}

.question_info_main .question_info_box .questionTitle {
    width: 100%;
    margin-bottom: 10px;
    color: #444;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    font-weight: 700;
}

.question_info_main .question_info_box .questionLabel {
    margin: 5px 0;
    height: 34px;
    width: 100%;
}

.question_info_main .question_info_box .questionLabel .label {
    display: block;
    float: left;
    margin: 0px 10px;
    padding: 2px 15px;
    min-width: 3em;
    text-decoration: none;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    color: #028e9b;
    background-color: #fff;
    border:1px solid #028e9b;
    border-radius: 14px;
}

.question_info_main .question_info_box .questionLabel .label:first-child {
    margin-left: 0;
}

.question_info_main .question_info_box .questionImage {
    margin-top: 10px;
}

.question_info_main .question_info_box .questionImage img {
    height: 130px;
    border-radius: 4px;
    margin: 0 13px;
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
}

.question_info_main .question_info_box .questionImage img:first-child {
    margin-left: 0;
}

.question_info_main .question_info_box .questionDetail {
    margin-top: 30px;
    color: #666;
    font-size: 25px;
    line-height: 35px;
    max-height: 70px;
}

.question_answer_toolBar {
    margin-top: 30px;
    height: 40px;
    width: 100%;
}

.question_answer_toolBar .toolItem {
    float: left;
    position: relative;
    text-align: center;
    margin: 0 20px;
    height: 25px;
    min-width: 3em;
    padding: 3px 10px;
    font-size: 20px;
    line-height: 25px;
    color: #666;
    border-radius: 3px;
    cursor: pointer;
}

.question_answer_toolBar .toolItem .num {
    color: #666;
    font-size: 22px;
}

.question_answer_toolBar .toolItem_icon {
    text-indent: 1.5em;
}

.question_answer_toolBar .toolItem svg {
    position: absolute;
    left: 5px;
}

.question_answer_toolBar .agree path {
    fill: #f37335
}

.question_answer_toolBar .no_agree path {
    fill: #cdcdcd
}

.question_answer_toolBar .toolItem_important {
    color: #fff;
    background-color: #028e9b;
}

.question_answer_toolBar .toolItem:first-child {
    margin-left: 0;
}

.question_info_main .author_info_box {
    float: right;
    position: relative;
    margin-right: 20px;
    height: 345px;
    width: 445px;
}

.author_info_box .areaTitle {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 25px;
    font-weight: 700;
    color:#444;
}

.question_info_main .author_info_box .profile img {
    width: 130px;
    height: 130px;
    border-radius: 4px;
}

.question_info_main .author_info_box .name_type_row {
    position: absolute;
    top: 60px;
    left: 145px;
    height: 40px;
}

.question_info_main .author_info_box .userName {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    color:#666;
    font-weight: 700;
}

.question_info_main .author_info_box .userType {
    float: left;
    margin-left: 30px;
    width: 2em;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 20px;
    color: #666;
}

.question_info_main .author_info_box .schoolInfo {
    position: absolute;
    top: 130px;
    left: 145px;
    width: 282px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    color:#666;
}

.author_info_box .signature {
    height: 60px;
    margin-top: 20px;
    color: #999;
    font-size: 18px;
    line-height: 30px;
}

.author_info_box .signature .title {
    font-size: 22px;
    color: #444;
}

.author_info_box .tool {
    position: absolute;
    bottom: 0px;
    text-align: center;
    height: 35px;
    min-width: 3em;
    padding: 3px 20px;
    font-size: 22px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 35px;
}

.author_info_box .subscribe_btn {
    left: 0px;
    color: #fff;
}

.author_info_box .no_subscribe {
    background-color: #028e9b;
}

.author_info_box .forbidden {
    background-color: #ccc;
}

.author_info_box .subscribe {
    background-color: #ccc;
}

.author_info_box .sendText_btn {
    right: 80px;
    text-indent: 1.2em;
    color: #999;
}

.author_info_box .sendText_btn svg {
    position: absolute;
    top: -2px;
    left: 5px;
}

.author_info_box .sendText_btn:hover {
    color: #444;
}

.author_info_box .sendText_btn:hover path {
    fill: #999;
}


/* 写回答区 */

.textAnswer {
    display: none;
    margin-bottom: 40px;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 15px;
}

.textAnswer::after {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}

.textAnswer .answerTextArea {
    margin: 10px auto 0;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    border-radius: 6px;
    padding: 40px;
    min-height: 100px;
    border: 1px solid #ccc;
}

.textAnswer .answerTextArea .edit-div {
    width: 100%;
    line-height: 35px;
    letter-spacing: 2.5px;
    font-size: 26px;
    color: #444;
    outline: none;
}

.textAnswer .answerTextArea img {
    display: block;
    max-width: 85%;
    margin: 20px auto;
    border-radius: 8px;
    max-height: 750px;
}


/* 写回答的工具栏 */

.answerArea .textAnswer .toolBar {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto 10px;
}

.textAnswer .toolBar .tool {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    line-height: 30px;
    padding: 3px 10px;
    font-size: 20px;
    cursor: pointer;
}


/* 添加图片 */

.answerArea .textAnswer .addImageBtn {
    position: absolute;
    left: 0;
    width: 130px;
    text-align: right;
    height: 50px;
    line-height: 60px;
    color: #cdcdcd;
}

.answerArea .textAnswer .addImageBtn:hover {
    color: #666;
}

.answerArea .textAnswer .addImageBtn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.answerArea .textAnswer .addImageBtn:hover svg path {
    fill: #666;
}


/* 发送评论 */

.textAnswer .toolBar .sendBtn {
    height: 30px;
    right: 160px;
    background-color: #028e9b;
    color: #fff;
    border-radius: 6px;
}

.textAnswer .slideUp {
    right: 0px;
    height: 30px;
    border-radius: 15px;
    color: #999;
    right: 30px;
    width: 90px;
}

.textAnswer .slideUp svg {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
}

.textAnswer .slideUp:hover {
    color: #444;
}

.textAnswer .slideUp:hover svg path {
    fill: #666;
}


/* 评论区 */

.answerItem_List {
    background-color: #f6f6f6;
}


/* 每一条评论 */

.answerArea .answerItem {
    background-color: #fff;
    border-radius: 12px;
    margin: 20px 0;
    padding: 30px;
    box-sizing: border-box;
}

.answerArea .answerItem_List .loadingPane {
    background-color: rgb(248, 253, 255);
}

.answerArea .answerItem:first-child {
    margin-top: 0;
}

.answerArea .answerItem .headInfo {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #eee;
}

.answerArea .answerItem .profile {
    float: left;
    margin-top: 10px;
}

.answerArea .answerItem .profile img {
    position: relative;
    top: -20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}


/* 写评论 */

.answerArea .answerItem .addComment {
    display: none;
    border-top: 1px solid #eee;
    padding-top: 40px;
    margin-top: 60px;
}

.answerArea .answerItem .addComment textarea {
    width: 99.5%;
    resize: none;
    min-height: 60px;
    padding: 10px 15px;
    font-size: 22px;
    color: #444;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
}

.answerArea .answerItem .toolBar_inner {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 15px auto 10px;
}
.answerArea .answerItem .commentList .toolBar_inner{
    margin:0;
}

.answerArea .answerItem .toolBar_inner .sendBtn {
    position: absolute;
    top: 0;
    right: 150px;
    font-size: 20px;
    color: #fff;
    border: none;
    background-color: #028e9b;
    width: 85px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
}

.answerArea .answerItem .toolBar_inner .slideUp {
    position: absolute;
    text-indent: 30px;
    top: 0;
    right: 30px;
    color: #999;
    font-size: 18px;
    cursor: pointer;
}

.answerArea .answerItem .toolBar_inner .slideUp svg {
    position: absolute;
    top: -3px;
    left: 0;
}


/* 评论中的评论条 */

.answerArea .answerItem .commentList {
    display: none;
    border-top: 1px solid #eee;
    padding-top: 40px;
    margin-top: 60px;
}

.answerArea .answerItem .commentList .item {
    width: 100%;
    margin: 30px 0 30px 15px;
    overflow: hidden;
}

.answerArea .answerItem .commentList .item .comment_item_headInfo {
    width: 100%;
    height: 65px;
}

.answerArea .answerItem .commentList .item img {
    float: left;
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.answerArea .answerItem .commentList .item .comment_item_userName {
    float: left;
    margin-left: 25px;
    line-height: 65px;
    font-size: 25px;
    font-weight: 700;
    color: #666;
}

.answerArea .answerItem .commentList .item .content {
    margin-top: 10px;
    color: #666;
    font-size: 18px;
    padding: 15px 12px;
    border-radius: 8px;
    width: 96%;
    background-color: #f6f6f6;
}

.answerArea .answerItem .commentList .ending_comment {
    margin-top: 10px;
    color: #666;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.answerArea .answerItem .commentList .loadmore {
    margin-top: 25px;
    color: #666;
    width: 100%;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.answerArea .answerItem .userName {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    font-weight: 700;
    color:#666;
}

.answerArea .answerItem .userType {
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    padding: 0 10px;
    width: 2em;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 20px;
    color: #666;
}

.answerArea .answerItem .schoolInfo {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    color:#666;
}

.answerArea .contentText {
    padding: 20px 15px;
    box-sizing: border-box;
    width: 100%;
}

.answerArea .answerItem_List .ending {
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    color: #666;
}

.answerArea .contentText p {
    font-size: 25px;
    color: #444;
    line-height: 35px;
}

.answerArea .contentText img {
    display: block;
    margin: 20px auto;
    max-width: 900px;
    max-height: 900px;
    border-radius: 8px;
}

.answerArea .answerItem .time {
    margin: 20px 15px;
    color: #999;
    font-size: 18px;
}

.answerArea .answerItem .question_answer_toolBar {
    margin-left: 15px;
}


/* 右边的侧栏框 */

.content_main .sideBox_fixed {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 600px;
    border-radius: 12px;
}

.content_main .sideBox_fixed_on {
    position: fixed;
    top: 140px;
}

.sideBox_fixed .author_info_box {
    display: none;
    position: relative;
    height: 400px;
    border-radius: 12px;
    margin-bottom: 30px;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: #fff;
}

.sideBox_fixed .author_info_box .areaTitle {
    text-align: center;
}

.sideBox_fixed .author_info_box .profile img {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.sideBox_fixed .author_info_box .userName {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    font-weight: 700;
    color:#666;
}

.sideBox_fixed .author_info_box .userType {
    position: absolute;
    top: 185px;
    left: 270px;
    width: 2em;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 20px;
    color: #666;
}

.sideBox_fixed .author_info_box .schoolInfo {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    color:#666;
}

.sideBox_fixed .author_info_box .toolBar {
    margin-top: 75px;
    position: relative;
}

.sideBox_fixed .author_info_box .subscribe_btn {
    left: 40px;
}

.sideBox_fixed .author_info_box .sendText_btn {
    right: 40px;
    text-indent: 0.6em;
}

.sideBox_fixed .author_info_box .sendText_btn svg {
    top: 2px;
}

.sideBox_fixed .linkingQuestion {
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
    border-radius: 12px;
    padding: 25px 15px;
    box-sizing: border-box;
    background-color: #fff;
}


/* 便利签 */

.sideBox_fixed .note {
    width: 100%;
    position: relative;
    height: 445px;
    box-sizing: border-box;
    padding: 25px 15px;
    border-radius: 12px;
    color: #444;
    background-color: #e8cbc0;
    /* #e8cbc0 #ffa17f #ffd194*/
}

.sideBox_fixed .note .nail {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0);
}

.sideBox_fixed .note .title {
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    
}

.sideBox_fixed .note .content {
    text-indent: 2em;
    font-size: 22px;
    line-height: 25px;
    outline: 0;
}

.sideBox_fixed .note .content textarea {
    background-color: transparent;
    display: block;
    resize: none;
    text-align: left;
   width: 100%;
    height: 320px;
    padding: 10px 20px;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    color:#666;
}

.sideBox_fixed .note .toolBar {
    margin-top: 10px;
    height: 30px;
    font-size: 20px;
    width: 100%;
    color:#999;
}
.sideBox_fixed .note .toolBar svg path{
    fill: #999;
}

.sideBox_fixed .note .toolBar .tool {
    position: absolute;
    cursor: pointer;
}
.sideBox_fixed .note .toolBar .tool:hover{
    color:#666;
}
.sideBox_fixed .note .toolBar .tool:hover svg path{
    fill:#666;
}



.sideBox_fixed .note .toolBar .copyText {
    left: 30px;
}

.sideBox_fixed .note .toolBar .writeAnswer {
   right:30px;
}


/* 展示图片模态框 */

.modal_bg_img {
    display: none;
    background-color: #00000066;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.modal_bg_img .modal {
    background-color: transparent;
    border-radius: 12px;
    position: absolute;
    max-height: 700px;
    top: 50%;
    left: 50%;
    opacity: 1;
    transition: all ease 0.5s;
    transform: translate(-50%, -50%) scale(0.7);
   
}

.modal_bg_img .modal .modal_content {
    height: 100%;
}

.modal_bg_img .modal .modal_content img {
    max-height: 700px;
    border-radius: 12px;
}

.modal_bg_img .modal_head button {
    /* 相对于整个模态框 的定位  */
    position: absolute;
    top: 8px;
    right: 14px;
    /* right: 342px; */
    height: 30px;
    width: 30px;
    font-size: 30px;
    color: #f00;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* #region                           右下角侧边栏                                 */

.bottomRightSidebar {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 120px;
    right: 120px;
}

.bottomRightSidebar li {
    width: 80px;
    height: 80px;
    position: relative;
    background-color: #b3e5fc;
    border-radius: 16px;
    cursor: pointer;
}

.bottomRightSidebar li:hover {
    background-color: #e1f5fe;
}

.bottomRightSidebar li .iconfont {
    position: absolute;
    line-height: 80px;
    left: 20px;
    font-size: 43px;
    color: #304ffe;
}

.bottomRightSidebar li.returnTop {
    display: none;
}
/* 70% */
@media(max-width:1960px){
    .question_info_main .question_info_box .questionTitle{
        font-size:31px;
    }
    .question_info_main .question_info_box .questionLabel .label{
        font-size:16px;
    }
    .question_info_main .question_info_box .questionDetail{
        font-size:22px;
    }
    .textAnswer .answerTextArea .edit-div{
        font-size:22px;
    }
    .answerArea .contentText p{
        font-size:22px;
    }

}
/* 80% */
@media(max-width:1789px){
    .question_info_main{
        width: 1470px;
        padding:20px 0;
    }
    .question_info_main .question_info_box{
        width: 800px;
    }
    .content_main .answerArea{
        width: 1080px;
    }
    .question_info_main .author_info_box{
        width: 345px;
    }
    .content_main .sideBox_fixed{
        width: 345px;
    }
    .content_main{
        width: 1470px;
    }
    .question_info_main .question_info_box .questionTitle{
        font-size:30px;
    }
    .question_info_main .question_info_box .questionDetail{
        font-size:20px;
        margin-top:18px;
    }
    .question_answer_toolBar .toolItem{
        font-size:16px;
        margin: 0 15px;
    }
    .author_info_box .signature .title{
        font-size:20px;
    }
    .question_answer_toolBar .toolItem .num{
        font-size:17px;
    }
    .author_info_box .sendText_btn svg{
        height: 30px;
        top:3px;
    }
    .author_info_box .signature{
        font-size:18px;
    }
    .author_info_box .tool{
        font-size:16px;
        height: 28px;
        line-height: 28px;
    }
    .answerArea .contentText p{
        font-size:20px;
    }
    .answerArea .answerItem .time{
        font-size:17px;
    }
    .answerArea .answerItem .commentList .ending_comment{
        font-size:16px;
    }
    .answerArea .answerItem .toolBar_inner .slideUp{
        font-size:17px;
    }
    .answerArea .contentText img{
        max-width: 760px;
        max-height: 760px;
    }
    .answerArea .answerItem .addComment textarea{
        font-size:17px;
    }
    .answerArea .answerItem .toolBar_inner .sendBtn{
        font-size:16px;
    }
    .answerArea .answerItem_List .ending{
        font-size:16px;
    }
    .textAnswer .answerTextArea .edit-div{
        font-size:20px;
    }
    .textAnswer .toolBar .tool{
        font-size:16px;
    }
    .answerArea .textAnswer .addImageBtn svg{
        height: 40px;
    }
    .answerArea .textAnswer .addImageBtn{
        line-height: 40px;
        height: 40px;
    }
    .sideBox_fixed .note .title{
        font-size:22px;
    }
    .sideBox_fixed .note .content textarea{
        font-size:17px;
    }
    .textAnswer .answerTextArea img{
        max-height: 700px;
    }
    .modal_bg_img .modal .modal_content img{
        max-height: 620px;
    }
    .sideBox_fixed .note .toolBar .copyText{
        font-size:16px;
    }
    .sideBox_fixed .note .toolBar .writeAnswer{
        font-size:16px;
    }
}
/* 90% */
@media(max-width:1549px){
    .question_info_main{
        width: 1290px;
    }
    .content_main{
        width: 1290px;
    }
    .question_info_main .question_info_box{
        width: 700px;
    }
    .content_main .answerArea{
        width: 950px;
    }
    .question_info_main .author_info_box{
        width: 300px;
        height: 297px;
    }
    .content_main .sideBox_fixed{
        width: 300px;
    }
    .textAnswer .answerTextArea{
        padding:20px;
    }
   
    .question_info_main .question_info_box .questionTitle{
        font-size:26px;
        margin:0;
    }
    .question_info_main .question_info_box .questionDetail{
        font-size:18px;
        margin-top:5px;
    }
    .question_answer_toolBar .toolItem{
        font-size:16px;
        margin: 0 10px;
        padding:0 10px;
        height: 26px;
        line-height: 26px;
    }
    .question_answer_toolBar .toolItem .num{
        font-size:18px;
    }
    .author_info_box .tool{
        font-size:16px;
        height: 28px;
        line-height: 28px;
    }
    .answerArea .contentText p{
        font-size:20px;
    }
    .answerArea .answerItem .time{
        font-size:15px;
    }
    .answerArea .answerItem .commentList .ending_comment{
        font-size:16px;
    }
    .answerArea .answerItem .toolBar_inner .slideUp{
        font-size:16px;
    }
    .answerArea .contentText img{
        max-width: 660px;
        max-height: 660px;
    }
    .answerArea .answerItem .addComment textarea{
        font-size:16px;
    }
    .answerArea .answerItem .toolBar_inner .sendBtn{
        font-size:16px;
    }
    .answerArea .answerItem_List .ending{
        font-size:16px;
    }
    .textAnswer .answerTextArea .edit-div{
        font-size:18px;
    }
    .textAnswer .toolBar .tool{
        font-size:16px;
    }
    .answerArea .textAnswer .addImageBtn svg{
        height: 36px;
    }
    .answerArea .textAnswer .addImageBtn{
        line-height: 36px;
        height: 36px;
        width: 105px;
    }
    .sideBox_fixed .note .title{
        font-size:19px;
    }
    .sideBox_fixed .note .content textarea{
        font-size:16px;
        height: 266px;
    }
    .question_info_main .question_info_box .questionLabel .label{
        font-size:15px
    }
    .question_info_main .question_info_box .questionImage img{
        height: 100px;
    }
    .question_info_main .author_info_box .profile img{
        height: 100px;
        width: 100px;
    }
    .sideBox_fixed .author_info_box .profile img{
        height: 100px;
        width: 100px;
    }
    .question_info_main .author_info_box .userName{
        font-size:22px;
    }
    .question_info_main .author_info_box .schoolInfo{
        font-size:16px;
        width: 170px;
    }
    .author_info_box .signature .title{
        font-size:18px;
    }
    .author_info_box .signature{
        font-size:16px;
        height:40px;
    }
    .question_answer_toolBar{
        margin-top:15px;
        height: 30px;
    }
    .sideBox_fixed .author_info_box .userType{
        left:239px;
        top:192px;
        font-size:16px;
    }
    .question_answer_toolBar .toolItem svg{
        height: 24px;
    }
    .sideBox_fixed .author_info_box{
        height: 360px;
    }
    .sideBox_fixed .note{
        height: 380px;
    }
    .sideBox_fixed .author_info_box .userName{
        font-size:20px;
    }
    .author_info_box .areaTitle{
        font-size:23px;
    }
    .sideBox_fixed .author_info_box .schoolInfo{
        font-size:16px;
    }
    .author_info_box .tool{
        padding:0 10px;
        height: 26px;
        line-height: 26px;
    }
    .sideBox_fixed .author_info_box .sendText_btn{
        text-indent: 1.2em;
    }
    .question_info_main .author_info_box .sendText_btn{
        text-indent: 1.6em;
    }
    .author_info_box .sendText_btn svg{
        height: 24px;
        top:0;
    }
    .sideBox_fixed .author_info_box .sendText_btn svg{
        top:-2px;
    }
    .sideBox_fixed .note .nail{
        height:30px;
    }
    .sideBox_fixed .note .toolBar{
        font-size:14px;
    }
    .sideBox_fixed .note .toolBar svg{
        height: 20px;
    }
    .question_info_main .author_info_box .userType{
        font-size:16px;
    }
    .textAnswer .answerTextArea img{
        max-height: 650px;
    }
    .modal_bg_img .modal .modal_content img{
        max-height: 500px;
    }
    .answerArea .answerItem .userType{
        margin-left: 20px;
    }
   
}
/* 100% */
@media(max-width:1280px){
    .question_info_main{
        width: 1158px;
    }
    .content_main{
       width: 1158px;
    }
    .question_info_main .question_info_box{
        width: 650px;
    }
    .content_main .answerArea{
        width: 100%;
    }
    /* 侧边栏去除 */
    .content_main .sideBox_fixed{
        display:none;
    }
    .question_info_main .author_info_box{
        width: 270px;
        height: 276px;
    }
   
    .textAnswer .answerTextArea{
        padding:20px;
    }
   
    .question_info_main .question_info_box .questionTitle{
        font-size:24px;
        margin:0;
    }
    .question_info_main .question_info_box .questionDetail{
        font-size:16px;
        margin-top:2px;
    }
    .question_answer_toolBar .toolItem{
        font-size:12px;
        margin: 0 12px;
        padding:0 5px;
        height: 24px;
        line-height: 24px;
    }
    .question_answer_toolBar .toolItem .num{
        font-size:12px;
    }
    .author_info_box .tool{
        font-size:14px;
        height: 24px;
        line-height: 24px;
    }
    .answerArea .contentText p{
        font-size:16px;
    }
    .answerArea .answerItem .time{
        font-size:13px;
    }
    .answerArea .answerItem .commentList .ending_comment{
        font-size:14px;
    }
    .answerArea .answerItem .toolBar_inner .slideUp{
        font-size:14px;
    }
    .answerArea .contentText img{
        max-width: 700px;
        max-height: 700px;
    }
    .answerArea .answerItem .addComment textarea{
        font-size:14px;
    }
    .answerArea .answerItem .toolBar_inner .sendBtn{
        font-size:14px;
    }
    .answerArea .answerItem_List .ending{
        font-size:14px;
    }
    .textAnswer .answerTextArea .edit-div{
        font-size:14px;
    }
    .textAnswer .toolBar .tool{
        font-size:14px;
    }
    .answerArea .textAnswer .addImageBtn svg{
        height: 30px;
    }
    .answerArea .textAnswer .addImageBtn{
        line-height: 30px;
        height: 30px;
        width: 95px;
    }
   
    .question_info_main .question_info_box .questionLabel .label{
        font-size:12px;
        height:17px;
        line-height: 17px;
        padding:2px 9px;
    }
    /* .question_info_main .question_info_box .questionImage img{
        height: 100px;
    }
    .question_info_main .author_info_box .profile img{
        height: 100px;
        width: 100px;
    } */
    
    .question_info_main .author_info_box .userName{
        font-size:20px;
    }
    .question_info_main .author_info_box .schoolInfo{
        font-size:14px;
        width: 140px;
    }
    .author_info_box .signature .title{
        font-size:16px;
    }
    .author_info_box .signature{
        font-size:14px;
        height:30px;
    }
    .question_answer_toolBar{
        margin-top:10px;
        height: 26px;
    }
   
    .question_answer_toolBar .toolItem svg{
        height: 18px;
        top:2px;
        left:-3px;
    }
   
   
    .author_info_box .areaTitle{
        font-size:20px;
    }
   
    .author_info_box .tool{
        padding:0 6px;
        height: 24px;
        line-height: 24px;
       
    }
   
    .question_info_main .author_info_box .sendText_btn{
        text-indent: 2em;
    }
    .author_info_box .sendText_btn svg{
        height: 20px;
        top:2px;
    }
    .question_info_main .author_info_box .userType{
        font-size:14px;
    }
    .answerArea .answerItem .userName{
        font-size:23px;
    }
    .answerArea .answerItem .userType{
        font-size:16px;
    }
    .answerArea .answerItem .schoolInfo{
        font-size:16px;
    }
    .answerArea .answerItem .commentList .item .comment_item_userName{
        font-size:18px;
    }
    .answerArea .answerItem .commentList .item img{
        height:48px;
        width:48px;
    }
    .textAnswer .toolBar .sendBtn svg{
        height: 20px;
        position: absolute;
        top:5px;
        left:5px;
    }
    .textAnswer .toolBar .sendBtn{
        text-indent:20px;
        height:24px;
        line-height: 24px;
    }
    .textAnswer .slideUp{
        width:67px;
        height:26px;
        line-height: 26px;
    }
    .answerArea .answerItem .profile img{
        height:68px;
        width:68px;
    }
    .textAnswer .answerTextArea img{
        max-height: 600px;
    }
    .modal_bg_img .modal .modal_content img{
        max-height: 400px;
    }
}


/* #endregion */