* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h2,
b,
i,
em {
    font-weight: normal;
    font-style: normal;
}

input,
button,
textarea {
    outline: none;
    border: 0;
}

button {
    cursor: pointer;
}


/* #region 模态框关闭按钮*/

.quizModal_bg {
    display: none;
    background-color: #00000066;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.quizModal_bg_askQuestion .quizModal {
    background-color: rgba(247,247,247);
    border-radius: 30px;
    width: 750px;
    height: 840px;
    position: absolute;
    /* border: 2px solid #028e9b; */
    top: 50%;
    left: 50%;
    opacity: 1;
    transition: all ease 0.5s;
    transform: translate(-50%, -50%) scale(0.7);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.quizModal_bg_askQuestion .quizModal_head {
    height: 40px;
    width: 100%;
    position: relative;
}

.quizModal_bg_askQuestion .quizModal_head button {
    position: relative;
    top: 8px;
    right: 14px;
    height: 30px;
    width: 30px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* #endregion */

.quizModal_bg_askQuestion .quizModal_content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
}


/* #region 输入问题 + 问题备注 */

.quizModal_bg_askQuestion .quizModal_content>div {
    width: 100%;
    height: 135px;
    box-sizing: border-box;
    padding: 14px;
    position: relative;
}

.quizModal_bg_askQuestion .quizModal_content div:nth-of-type(1) textarea,
.quizModal_bg_askQuestion .quizModal_content div:nth-of-type(3) textarea {
    resize: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    color:#777;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 23px;
}



.quizModal_bg_askQuestion .quizModal_content div:nth-of-type(1) textarea::-webkit-input-placeholder,
.quizModal_bg_askQuestion .quizModal_content div:nth-of-type(3) textarea::-webkit-input-placeholder {
    color: #c2c2c2;
    line-height: 20px;
    font-size: 15px;
}

.quizModal_bg_askQuestion .quizModal_bg_askQuestion .quizModal_content .mainQuestion {
    height: 100px;
}

.quizModal_bg_askQuestion .quizModal_content .mainQuestion>span,
.quizModal_bg_askQuestion .quizModal_content .questionNote>span {
    position: absolute;
    bottom: 18px;
    right: 30px;
    font-size: 18px
}

.quizModal_bg_askQuestion .quizModal_content .mainQuestion>span b,
.quizModal_bg_askQuestion .quizModal_content .questionNote>span b {
    font-size: 16px;
    color: #aaa;
}

.quizModal_bg_askQuestion .quizModal_content .questionNote {
    height: 200px;
}
/* #endregion */

/* #region 插入图片 */

.quizModal_bg_askQuestion .quizModal .quizModal_content>.insertPicture {
    margin: 10px 0;
    height: 115px;
    padding: 0 14px;
    box-sizing: border-box;
}

.quizModal_bg_askQuestion .quizModal .quizModal_content>.insertPicture .picture_containner {
    float: left;
}

.quizModal_bg_askQuestion .quizModal .quizModal_content>.insertPicture .picture {
    position: relative;
    max-width: 150px;
    height: 115px;
    float: left;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.5); */
}


/* .quizModal .quizModal_content>.insertPicture img::after {
    content: "";
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
} */

.quizModal_bg_askQuestion .quizModal .quizModal_content>.insertPicture img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.quizModal_bg_askQuestion .quizModal .quizModal_content>.insertPicture .removePicture {
    display: none;
    cursor: pointer;
    position: absolute;
    right: -2px;
    top: -4px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    top: 0;
    color: #f00
}


/* .quizModal .quizModal_content>.insertPicture .picture:hover .removePicture {
    display: block;
} */

.quizModal_bg_askQuestion .quizModal_content .insertPicture .file {
    position: relative;
    display: block;
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    border: 1px #666 dashed;
    box-sizing: border-box;
    color: #777;
    /* font-size: 35px; */
    cursor: pointer;
    transition: all 0.1s;
    float: left;
    border-radius: 8px;
    transition: all 0.3s;
    margin-right: 20px;
}

.quizModal_bg_askQuestion .quizModal_content .insertPicture .insertP {
    cursor: pointer;
}

.quizModal_bg_askQuestion .quizModal_content .insertPicture .file:hover {
    color: #028e9b;
    font-weight: 400;
    border-color: #028e9b;
}

.quizModal_bg_askQuestion .quizModal_content .insertPicture .iconjiahao1::before {
    content: "\e60b";
    font-size: 35px;
}

.quizModal_bg_askQuestion .quizModal_content .insertPicture input {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}


/* #endregion */


/* #region 标签栏*/

.quizModal_bg_askQuestion .quizModal_content .label {
    /* width: 100%; */
    height: 120px;
    padding-top: 0;
    /* border: 1px solid #797979; */
}

.quizModal_bg_askQuestion .quizModal_content .label>div {
    float: left;
}

.quizModal_bg_askQuestion .quizModal_content .label .labelFont {
    display: block;
    font-size: 26px;
    color: #333;
    position: relative;
    left: 7px;
}

.quizModal_bg_askQuestion .quizModal_content .label .nodeBoard {
    width: 64%;
    height: 85px;
    padding: 0;
}

.quizModal_bg_askQuestion .quizModal_content .label .nodeBoard span {
    position: relative;
    /* width: 67px; */
    height: 40px;
    background-color: #fff;
    margin-right: 15px;
    float: left;
    padding: 0 20px;
    display: block;
    margin-top: 8px;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #028e9b;
    cursor: default;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.quizModal_bg_askQuestion .quizModal_content .label .nodeBoard .text {
    color: #028e9b;
    
    font-size: 20px
}

.quizModal_bg_askQuestion .quizModal_content .label .nodeBoard span i {
    position: absolute;
    right: 3px;
    top: -9px;
    font-size: 30px;
    display: none;
    color: #028e9b;
    cursor: pointer;
}

.quizModal_bg_askQuestion .quizModal_content .label .addLabel {
    width: 35%;
    float: right;
    height: 90px;
    position: relative;
    margin-top: 8px;
    cursor: pointer;
}

.quizModal_bg_askQuestion .quizModal_content .label .addLabel input {
    width: 200px;
    box-sizing: border-box;
    padding-left: 20px;
    height: 45px;
    /* vertical-align: middle; */
    margin: 0;
    border-radius: 8px;
    line-height: 45px;
    font-size: 20px;
    text-align: left;
    background-color: #fff;
    color: #666;
    float: right;
}

.quizModal_bg_askQuestion .quizModal_content .label .addLabel .add_btn {
    position: absolute;
    bottom: 0;
    right: 10px;
    height: 33px;
    width: 100px;
    font-size: 20px;
    text-align: center;
    color: #028e9b;
    background-color: #fff;
    border:1px solid #028e9b;
    border-radius: 8px;
   
}

.quizModal_bg_askQuestion .quizModal_content .label .addLabel .iconfont {
    position: absolute;
    left: 0px;
    top: 6px;
    font-size: 33px;
    color: #028e9b
}

.quizModal_bg_askQuestion .quizModal_content .rowBox {
    margin-top: 30px;
    padding: 0 14px;
    height: 45px;
}


/* 选择文章类型 */

.quizModal_bg_askQuestion .quizModal_content .questionType {
    border: 1px solid #ccc;
    position: relative;
    float: left;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    background-color: #fff;
    line-height: 40px;
    padding: 0;
    font-size: 20px;
    text-align: left;
}

.quizModal_bg_askQuestion .quizModal_content .questionType svg {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.quizModal_bg_askQuestion .quizModal_content .questionType .cur_val {
    margin-left: 20px;
    color: #666;
    font-size: 20px
}

.quizModal_bg_askQuestion .quizModal_content .questionType .list {
    position: relative;
    top: 10px;
    z-index: 10;
    list-style: none;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.quizModal_bg_askQuestion .quizModal_content .questionType .list li {
    color: #666;
    text-indent: 14px;
    font-size: 19px;
    line-height: 30px;
    cursor: pointer;
}

.quizModal_bg_askQuestion .quizModal_content .questionType .list li:hover {
    color: #028e9b
}

.quizModal_bg_askQuestion .quizModal_content .invite {
    float: right;
    height: 45px;
    width: 200px;
    border-radius: 8px;
    background-color: #fff;
    line-height: 45px;
    text-align: center;
    color: #666;
    font-size: 20px;
    cursor: pointer;
}

.quizModal_bg_askQuestion .quizModal_content .invite:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/* #endregion */


/* #region 立即发表按钮 */

.quizModal_bg_askQuestion .quizModal_content .publish {
    position: absolute;
    bottom: 28px;
    /* margin: 0 auto; */
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    height: 45px;
    background-color: #028e9b;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    border-radius: 10px;
}



/* 匿名提交 */

.quizModal_bg_askQuestion .quizModal_content .anonymity {
    width: 150px;
    height: 45px;
    text-indent: 55px;
    line-height: 45px;
    position: absolute;
    bottom: 28px;
    right: 50px;
    font-size: 24px;
    color: #666;
    font-weight: 600;
    padding: 0;
}

.quizModal_bg_askQuestion .quizModal_content .anonymity .btn {
    background-color: transparent;
    position: absolute;
    top: 50%;
    border-radius: 4px;
    left: 10px;
    width: 34px;
    height: 34px;
    border: 1px solid #bbb;
    transform: translate(0, -50%);
}

.quizModal_bg_askQuestion .quizModal_content .anonymity .btn svg {
    display: none;
}


/* #endregion */

/* 70% */
@media(max-width:1960px){
    

}
/* 80% */
@media(max-width:1789px){
   .quizModal_bg_askQuestion .quizModal_content div:nth-of-type(1) textarea, .quizModal_bg_askQuestion .quizModal_content div:nth-of-type(3) textarea{
       font-size:16px;
       padding:5px;
       line-height: 30px;
   }
   .quizModal_bg_askQuestion .quizModal_content .label .labelFont{
       font-size:18px;
   }
   .quizModal_bg_askQuestion .quizModal_content .mainQuestion > span b, .quizModal_bg_askQuestion .quizModal_content .questionNote > span b{
       font-size:16px;
   }
   .quizModal_bg_askQuestion .quizModal_content .questionType .cur_val{
       font-size:16px;
       margin-left: 5px;
   }
   .quizModal_bg_askQuestion .quizModal_content .label .addLabel input{
       font-size:16px;
       width:150px;
      
       height: 30px;
   }
   .quizModal_bg_askQuestion .quizModal_content .questionType{
       line-height: 30px;
   }
   .quizModal_bg_askQuestion .quizModal_content .label .addLabel .add_btn{
       font-size:16px;
       width: 150px;
       height: 26px;
       right:0;

   }
   .quizModal_bg_askQuestion .quizModal_content .invite{
       font-size:16px;
       height: 30px;
       width:150px;
       line-height: 30px;
   }
   .quizModal_bg_askQuestion .quizModal_content > div{
       height: 68px;
     
   }
  
   .quizModal_bg_askQuestion .quizModal_content .rowBox{
       margin-top:-10px;
       height: 30px;
   }
   .quizModal_bg_askQuestion .quizModal_content .insertPicture .file{
       width: 80px;
       height: 80px;
       line-height: 80px;
   }
   .quizModal_bg_askQuestion .quizModal_content .questionNote{
       height: 140px;
   }
   .quizModal_bg_askQuestion .quizModal_content .label .nodeBoard .text{
       font-size:14px;
       line-height: 26px;
   }
   .quizModal_bg_askQuestion .quizModal_content .label .nodeBoard span{
       height: 26px;
       line-height: 26px;
   }
   .quizModal_bg_askQuestion .quizModal_content .questionType .list li{
       font-size:14px;
       line-height: 26px;
   }
   .quizModal_bg_askQuestion .quizModal_content .label .nodeBoard span i{
       font-size:17px;
       top:-4px;
       right:2px;
   }
   .quizModal_bg_askQuestion .quizModal .quizModal_content > .insertPicture{
       height: 80px;
       margin:0;
   }
   .quizModal_bg_askQuestion .quizModal{
       width:670px;
       height: 530px;
       border-radius: 16px;
   }
   .quizModal_bg_askQuestion .quizModal_head button{
       font-size:20px;
       height: 26px;
       width:26px;
   }
   .quizModal_bg_askQuestion .quizModal_head{
       height: 15px;
       z-index: 3;
   }
   .quizModal_bg_askQuestion .quizModal_content .label .addLabel{
       margin-top:0px;
       width:30%;
       height: 65px;
   }
   .quizModal_bg_askQuestion .quizModal_content .label .addLabel .iconfont{
       top:0;
       font-size:27PX;
   }
   .quizModal_bg_askQuestion .quizModal_content .publish{
       height: 30px;
       line-height: 30px;
       width:200px;
       font-size:16px;
       border-radius: 8px;
   }
   .quizModal_bg_askQuestion .quizModal_content .label .nodeBoard{
       height: 67px;
   }
   .quizModal_bg_askQuestion .quizModal_content .questionType{
       height: 30px;
       width:150px;
       font-size:16px;
   }
   .quizModal_bg_askQuestion .quizModal_content .anonymity{
       height: 30px;
       line-height: 30px;
       font-size:16px;
       text-indent:47px;
   }
   .quizModal_bg_askQuestion .quizModal_content .anonymity .btn{
       height: 24px;
       width:24px;
       left:17px;
   }
   .quizModal_bg_askQuestion .quizModal_content .anonymity .btn svg{
       height: 24px;
       margin-left:-5px;
   }
   .quizModal_bg_askQuestion .quizModal .quizModal_content > .insertPicture .picture{
       max-width: 80px;
       height: 80px;
   }
   .quizModal_bg_askQuestion .quizModal .quizModal_content > .insertPicture .removePicture{
       font-size:20px;
       top:-4px;
   }
  
}
/* 90% */
@media(max-width:1549px){
    
    
}
/* 100% */
@media(max-width:1280px){
    
}
