* {
    margin: 0;
    padding: 0;
}

body {
    width: 1790px;
    background-image: url(../../../../img/register/bg.jpg);
    background-repeat: none;
    background-position: 0 0;
    background-size: cover;
}

table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 430px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 24px;
}

/*头部标题*/
.head_title {
    height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

td {
    text-align: center;
}

.status_out {
    padding-top: 30px;
    /* height: 80px; */
    height: 40px;
}

/*身份  */
.status {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 310px;
    border: 1px solid #999;
    box-sizing: border-box;
    border-radius: 8px;
}

.status_display {
    border: none;
    border-top: 2px solid #797979;
    border-radius: 0px;
}

.status header {
    cursor: default;
    position: relative;
}

.status header span {
    display: inline-block;
    line-height: 40px;
    position: absolute;
    top: 0px;
}

.status header .text {
    display: inline-block;
    left: 3px;
    color: #999;
}

.status header .alter {
    right: 20px;
    font-size: 12px;
    color: #02A7F0;
    cursor: pointer;
}

.individual_inner {
    position: relative;
}

.individual_inner svg {
    position: relative;
    top: 4px;
}

.status .content {
    display: none;
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.status .individual {
    display: inline-block;
    margin: 15px;
    color: #777;
    border: 1px solid #999;
    border-radius: 15px;
    line-height: 30px;
    width: 80px;
    cursor: pointer;
}

.status .individual:hover {
    border: 1px solid #02A7F0;
    box-shadow: 0 0 1px #02A7F0;
}


/* 邮箱 */
.email_out {
    padding-top: 10px;
    color: #777;
    height: 50px;
}

.email {
    width: 310px;
    margin: 0 auto;
}

.email_input, .email_tail {

    border: 1px solid #999;
    color: #777;
    outline: none;
    font-size: 15px;
}

.email_input {
    padding: 2px 5px;
    line-height: 25px;
    width: 180px;
    border-radius: 8px;
}

.email_tail {
    padding: 2px 5px;
    display: inline-block;
    line-height: 22px;
    font-size: 13px;
    border-radius: 16px;
    width: 80px;
}

/*验证码*/
/* 填写 */
.confirm_out {
    height: 50px;
}

.confirm {
    position: relative;
    margin: 0 auto;
    width: 310px;
    height: 40px;
}

.confirm_input {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0px;
    padding: 2px 5px;
    width: 180px;
    line-height: 25px;
    font-size: 15px;
    color: #777;
    border: 1px solid #797979;
    border-radius: 8px;
    outline: none;
}

.btn_disable {
    background-color: #ccc;
    border: 1px solid #ccc;
}

.send_btn {
    position: absolute;
    padding: 2px 5px;
    line-height: 22px;
    width: 80px;
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
    outline: none;
    color: #fff;
    font-size: 14px;
    border: none;
    box-sizing: content-box;
    border-radius: 16px;
    cursor: pointer;
}

.btn_available {
    background-color: #02A7F0;
    border: 1px solid #02a7f0;
}

.btn_available:hover {
    background-color: #2db4e5;
}

input {
    outline: none;
}

/* 发送验证码按钮 */

/*下一步按钮*/
.next_out {
    height: 90px;
}

.next_btn {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 200px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* 输入为空错误提示 */
input.emailError {
    color: #f00;
    border: 1px solid #f00;
    box-shadow: 0 0 1px #f00;
}

.editing {
    border: 1px solid #02A7F0;
    box-shadow: 0 0 1px #02A7F0;
}


/* 注册页下一步 */

.form {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 510px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 24px;
    color: #333;
}

.form .row {
    height: 35px;
    line-height: 35px;
    width: 450px;
    margin: 15px auto;
    border-radius: 4px;
    text-align: left;
}

.form .row .tip {
    display: block;
    width: 80px;
    text-align: right;
    position: absolute;
    left: 70px;
}

.form .row .tip_2 {
    letter-spacing: 1em;
}

.form .row .tip_3 {
    letter-spacing: 0.33em;
}

.form .row .value {
    display: block;
    float: left;
    position: absolute;
    left: 160px;
    width: 240px;
    border-bottom: 1px solid #797979;
}

.form .input[type=text] {
    border: none;
}

/* 年级选择 */
.slideDown .choice {
    position: relative;
    display: block;
    float: left;
    padding: 0 5px;
    height: 35px;
    cursor: pointer;
    box-sizing: border-box;
}

.slideDown .choice::after {
    display: block;
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 27px;
    height: 15px;
    content: "";
}

.slideDown .list {
    position: absolute;
    display: none;
    padding: 3px;
    top: 37px;
    width: 220px;
    list-style: none;
    border: 1px solid #999;
    background-color: #fff;
    z-index: 4;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.college .list {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #797979;
}

.college .list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.college .list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #797979;
}

.college .list::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

.major .list {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #797979;
}

.slideDown .list li {
    padding-left: 10px;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.slideDown .list li:hover {
    color: #02A7F0;
}

.slideDown .choice svg {
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
}


/* 先做完下拉动画，接着把overflow改成auto 选完后改回hidden*/

.campus .choice, .sex .choice {
    position: relative;
    display: block;
    float: left;
    padding: 0 5px;
    height: 35px;
    box-sizing: border-box;
}

.campus .switch, .sex .switch {
    position: absolute;
    display: none;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

.campus .item, .sex .item {
    display: block;
    position: absolute;
    border: none;
    line-height: 30px;
    width: 80px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 12.5px;
    cursor: pointer;
}

/* 校本部 */
.campus .headquarter {
    left: 5px;
    text-align: left;
}

/* 校区 */
.campus .Zhaoqing {
    width: 105px;
    right: 5px;
    text-align: right;
}

.sex .male {
    left: 5px;
    text-align: left;
}

.sex .female {
    right: 5px;
    text-align: right;
}

.campus .item svg, .sex .item svg {
    position: relative;
    top: 4px;
}

.markNumber input, .userName input, #graduatedUniversity input {
    width: 240px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 2px 5px;
    font-size: 16px;
    border: none;
    letter-spacing: 0.1em;
}

/* 用户名的验证成功 */
.userName .value {
    position: relative;

}

.userName .value input {
    width: 205px;
}

.userName .success_icon {
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;
}


/* 密码框 */
.password {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 2px 5px;
}

.password > input {
    display: block;
    float: left;
    position: relative;
    top: -0.5px;
    width: 185px;
    font-size: 12px;
    line-height: 25px;
    border: none;
}

.password svg {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.campus .choice {
    display: inline-block;
}

/* 注册按钮 */
.submit_btn {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 2.5px;
    height: 30px;
    width: 220px;
    border: none;
    background-color: #02A7F0;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}

/*激活底线*/

.active_line {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;
    height: 1px;
    background-color: #02A7F0;
    box-shadow: 0 0 2px #02A7F0;
    width: 0px;
    border-radius: 20px;
    transition: width, ease-in 0.3s;
}

.row .value:hover .active_line {
    width: 240px;
}

/* form2输入错误 */

.error_form2 {
    border-bottom: 1px solid #f00;

}


/* 错误信息用模态框 */
.modal_bg {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.modal {
    background-color: #fdfdfd;
    border-radius: 4px;
    padding: 10px;
    width: 250px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.modal_content {
    text-indent: 2em;
    position: absolute;
    top: 40px;
    width: 250px;
    line-height: 40px;
    font-size: 18px;
    color: #666;
    text-align: left;
}

.modal_foot {
    position: absolute;

    width: 250px;
    text-align: center;
    bottom: 20px;
}

.modal_foot button {
    text-align: center;
    width: 80px;
    height: 35px;
    color: #fff;
    background-color: #02A7F0;
    border: none;
    font-size: 16px;
    border-radius: 17.5px;

}

.modal_foot button:hover {
    background-color: #2db4e5;
}
